[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
pyhamcrest = "*"

[packages]
tinydb = "*"
gpiozero = "*"
smbus2 = "*"
enum34 = "*"
python-dateutil = "*"

[requires]
python_version = "3.7"
